.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: .5px solid #000;
}

.item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 10px;
    border: .5px solid #000;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 10px;
}